<div class="gift-box">
  <div class="gift-heading">
      <div class="export-count">
          <p>{{loading ? 'Please Wait...' : 'Import Only .CSV File'}}</p>
      </div>
      
      <div class="close-icon">
          <button mat-button [mat-dialog-close]="false" ><i class="material-icons">clear</i></button>
      </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate" value="40"></mat-progress-bar>
  
  <div class="modal-body pt0">
      <div class="row mb0">
          <!-- <div class="col s12">
              <div class="option-field">
                  <div class="control-field">
                      <mat-form-field class="cs-input">
                          <mat-select placeholder="Select Offer" name="offer_id" #offer_id="ngModel" [(ngModel)]="offer_data.offer_id" required>
                              <mat-option *ngFor="let row of offer_list" [value]="row.id">{{row.title}}</mat-option>                
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>
          </div> -->
          
          <div class="col s12">
              <div class="file-import">
                  <div class="border-erea file-border">
                      <label>
                          <form name="couponForm" #f="ngForm" novalidate autocomplete="off">
                              <input type="file" placeholder="{{file_name}}" name="" (change)="onUploadChange1($event,f)" accept=".csv"   style="display: none;">
                          </form>
                          <i class="material-icons">backup</i>
                          <h4 *ngIf="file_name == null" >Upload .CSV File</h4>
                          <h4 *ngIf="file_name != null" >{{file_name}}</h4>
                      </label>
                      
                  </div>
                  <div class="text-right mt10">
                    <a href="{{urlsampleFile}}">Download Sample File</a>
                </div>
              </div>
          </div>
      </div>
      
      <div mat-dialog-actions *ngIf="file.size">
          <button mat-raised-button (click)="uploadBonus()" accept=".csv"color="accent">Upload</button>
      </div>
  </div>
</div>