<div class="master-tab">
  <ul>
    <!-- <li routerLink="/productcategory-list" routerLinkActive="active"><a>Product Category</a></li> -->
    <!-- <li routerLink="/products-list" routerLinkActive="active"><a>Products</a></li> -->
    <li routerLink="/referral-master" routerLinkActive="active"><a>Points Master</a></li>
    <li routerLink="/coupon-code-master" routerLinkActive="active"><a>Product Point Master</a></li>
    <li routerLink="/pdf" routerLinkActive="active"><a>PDF Catalogue</a></li>
    <li routerLink="/video-list" routerLinkActive="active"><a>Videos</a></li>
    <li routerLink="/login-banner-list" routerLinkActive="active"><a>Login Banner</a></li>
    <li routerLink="/daily-coupon-access" routerLinkActive="active"><a>Daily Coupon Access</a></li>
    <li routerLink="/company-profile" routerLinkActive="active"><a>Company Profile</a></li>
    <li routerLink="/app-banner-list" routerLinkActive="active"><a>App Banner</a></li>
    <li routerLink="/gifts" routerLinkActive="active"><a>Master Gift</a></li>

    <li routerLink="/location" routerLinkActive="active"><a>Location Master</a></li>
    
    <!-- <li routerLink="/list-user" routerLinkActive="active"><a>DSR's</a></li> -->
    <li routerLink="/user-list" routerLinkActive="active"><a>System User</a></li>
    <!-- <li routerLink="/bonus-list" routerLinkActive="active"><a>Bonus</a></li> -->

  </ul>
</div>