<div class="gift-box">
  <div class="gift-head">
      <div class="export-count">
          <p>{{loading ? 'Please Wait...' : 'Import Distributors'}}</p>
      </div>
      
      <div class="close-icon">
          <button mat-button [mat-dialog-close]="false" ><i class="material-icons">clear</i></button>
      </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate" value="40"></mat-progress-bar>
  
  <div class="modal-body pt0">
      <div class="row mb0">
          <!-- <div class="col s12">
              <div class="option-field">
                  <div class="control-field">
                      <mat-form-field class="cs-input">
                          <mat-select placeholder="Select Offer" name="offer_id" #offer_id="ngModel" [(ngModel)]="offer_data.offer_id" required>
                              <mat-option *ngFor="let row of offer_list" [value]="row.id">{{row.title}}</mat-option>                
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>
          </div> -->
          
          <div class="col s12">
              <div class="file-import">
                  <div class="border-erea file-border">
                      <label>
                          <form name="couponForm" #f="ngForm" novalidate autocomplete="off">
                              <input type="file" placeholder="{{coupon_name}}" name="coupon_data" #coupon_data="ngModel" [(ngModel)]="coupon_ex"  (change)="onUploadChange($event,f)" accept=".csv"   style="display: none;">
                          </form>
                          <i class="material-icons">backup</i>
                          <h4 *ngIf="coupon_name == null" >upload csv file</h4>
                          <h4 *ngIf="coupon_name != null" >{{coupon_name}}</h4>
                      </label>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="master-btn pr15 mt15">
        <button (click)="downloadSamplefile()" mat-raised-button color="accent" matTooltip="Download Bulk Update Sample File"
    matTooltipPosition="above"
    matTooltipClass="tooltip">
        <i class="material-icons ">cloud_download</i>
        Download Sample File
    </button>

    <div mat-dialog-actions *ngIf="file.size">

        <button (click)="uploadCSV()" accept=".csv" mat-raised-button color="accent" matTooltip="Upload .CSV File"
    matTooltipPosition="above"
    matTooltipClass="tooltip">
        <i class="material-icons ">cloud_upload</i>
        Upload
    </button>

        <!-- <button mat-raised-button (click)="uploadCSV()" accept=".csv"color="primary">Upload</button> -->
    </div>

    </div> 
    
      
  </div>
</div>