<div class="main-container" >
    <div class="dashboard">
        <div class="bg-counter">
            <ul>
                <li matRipple style="background: #2e7d32;" (click)="goto_offerPage()">
                    <div class="top-item">
                        <h2>Offers</h2>
                        <span class="cs-count">{{offer}}</span>
                    </div>
                    <div class="bottom-item">
                        <div class="cs-item">
                            <span>{{offer_karigar}}</span>
                            <p>Active Offer</p>
                        </div>
                        <!-- <div class="cs-item">
                            <span>{{offer_Retailer}}</span>
                            <p>Dealer</p>
                        </div> -->
                    </div>
                    <!-- <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/pyment_due.svg"></div>
                        <p>{{offer}}</p>
                    </div>
                    <div class="counter-name">Offers</div> -->
                </li>
                
                <li matRipple style="background: #e65100;" (click)="goto_pending_redeem_rqs_page()">
                    <!-- <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/pending.svg"></div>
                        <p>{{pending_redeem_request}}</p>
                    </div>
                    <div class="counter-name">Pending Redeem Request</div> -->
                    <div class="top-item">
                        <h2>Redeem Request</h2>
                        <span class="cs-count">{{pending_redeem_request}}</span>
                        
                    </div>
                    <div class="bottom-item">
                        <div class="cs-item">
                            <span>{{pending_redeem_request_karigar}}</span>
                            <p>Pending Redeem Request</p>
                        </div>
                        <!-- <div class="cs-item">
                            <span>{{pending_redeem_request_retailer}}</span>
                            <p>Dealer</p>
                        </div> -->
                    </div>
                </li>
                <li matRipple style="background: #f50057;" (click)="goto_balance_coupon_page()">
                    <!-- <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/marketing_exp.svg"></div>
                        <p>{{balance_coupon_value}}</p>
                    </div>
                    <div class="counter-name">Balance Coupon Value</div> -->
                    
                    <div class="top-item">
                        <h2>Total Coupon</h2>
                        <span class="cs-count ttl_vl">{{total_coupon_value}}</span>
                       
                    </div>
                    <div class="bottom-item">
                        <div class="cs-item">
                            <span>{{coupon_value_scan_by_karigar}}</span>
                            <p>Scanned Coupon</p>
                        </div>
                        <!-- <div class="cs-item">
                            <span>{{coupon_value_scan_by_Retailer}}</span>
                            <p>Dealer</p>
                        </div> -->
                    </div>
                </li>
                <li matRipple style="background: #00b1ff;" (click)="goto_karigarsPage()">
                    <!-- <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/karigars.svg"></div>
                        <p>{{karigars}}</p>
                    </div>
                    <div class="counter-name">Karigars</div> -->
                    <div class="top-item">
                        <h2>Network</h2>
                        <span class="cs-count">{{totalNetwork}}</span>
                    </div>
                    <div class="bottom-item">
                        <div class="cs-item">
                            <span>{{head_machanic}}</span>
                            <p>Head Mechanic</p>
                        </div>
                        <div class="cs-item">
                            <span>{{assitant_machanic}}</span>
                            <p class="ast_ft">Assistant Mechanic</p>
                        </div>
                      
                    </div>
                </li>
                <li matRipple style="background: #3949ab;" (click)="goto_offergiftPage()">
                    <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/pop&gift.svg"></div>
                        <p>{{offer_gift}}</p>
                    </div>
                    <div class="counter-name">Gift Gallery</div>
                </li>
                <!-- <li matRipple style="background: #8a2000;" (click)="goto_productPage()">
                    <div class="counter-value">
                        <div class="counter-icon"><img src="assets/img/dashboard/product.svg"></div>
                        <p>{{products}}</p>
                    </div>
                    <div class="counter-name">Product</div>
                </li> -->
                <li matRipple style="background: #665c5a;" (click)="goto_feedbackPage()">
                    <div class="counter-value">
                        <div class="counter-icon"><img class="h30" src="assets/img/dashboard/messages.svg"></div>
                        <p>{{unread_counts}}</p>
                    </div>
                    <div class="counter-name">Total Unread Message</div>
                </li>
            </ul>
        </div>
        
        <div class="row mb15">
            <div class="col s6">
                <div class="pie-chart">
                    <div class="chart-header">
                        <p>State Wise Karigar</p>
                    </div>
                    <!-- <div class="graph">
                        <fusioncharts
                        width="100%"
                        height="300"
                        type="spline"
                        [dataSource]="karigar_Source">
                    </fusioncharts>
                </div> -->


                <div class="graph">
                    <fusioncharts width="100%" height="300" type="pie3d" [dataSource]=karigar_Source>
                    </fusioncharts>
                </div>


            </div>
        </div>







        <div class="col s6">
            <div class="pie-chart">
                <div class="chart-header">
                    <p>Offer Balance Day's</p>
                </div>
                <div class="cs-table scroll-335">
                    <table>
                        <tr>
                            <th class="first-head">
                                <div class="table-head">
                                    <table>
                                        <tr>
                                            <th>Offer</th>
                                            <th class="w80 text-center">Day's</th>
                                        </tr>
                                    </table>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-body">
                                    <table>
                                        <tr *ngFor="let data of offer_balance_days">
                                            <td>{{data.title | titlecase}}  #{{data.id}}</td>
                                            <td class="w80 day">{{data.balance_days}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>




        <!-- <div class="col s6">
            <div class="pie-chart">
                <div class="chart-header">
                    <p>State Wise Dealer</p>
                </div>
                <div class="graph">
                    <fusioncharts
                    width="100%"
                    height="300"
                    type="pie3d"
                    [dataSource]=dealer_Source >
                </fusioncharts>
            </div>
        </div>
    </div> -->
    <!-- <div class="col s12">
        <div class="pie-chart">
            <div class="chart-header">
                <p>Zone Wise Coupon Scanned</p>
                <div class="sm-tab">
                    <a class="" [ngClass]="{'active': mtd == true}" (click)="showMTD()" mat-button>MTD</a>
                    <a class="" [ngClass]="{'active': ytd == true}" (click)="showYTD()" mat-button>YTD</a>
                </div>
            </div>
            <div class="graph" *ngIf="mtd">
                <fusioncharts
                    width="100%"
                    height="300"
                    type="spline"
                    [dataSource]=zoneCouponSource>
                </fusioncharts>
            </div>
            <div class="graph" *ngIf="ytd">
                <fusioncharts
                    width="100%"
                    height="300"
                    type="spline"
                    [dataSource]=zoneSourceYTD>
                </fusioncharts>
            </div>
    </div>
</div> -->


<!-- <div class="col s8">
    <div class="pie-chart">
        <div class="chart-header">
            <p>Coupon Code Graph Used As Availble</p>
        </div>
        <div class="chart">
            <fusioncharts type="mscolumn2d" height="350" width="100%" [dataSource]="dataSource">
            </fusioncharts>
        </div>
    </div>
</div> -->
</div>

<div class="row mb15">
    <div class="col s6">
        <!-- <div class="pie-chart">
            <div class="chart-header">
                <p *ngIf="topTenDsr == true">Top 10 DSR's</p>
                <p *ngIf="topTenSales == true">Top 10 Sales Person</p>
                <div class="sm-tab">
                    <a class="" [ngClass]="{'active': topTenDsr == true}" (click)="showTopTenDSRs()" mat-button>DSR's</a>
                    <a class="" [ngClass]="{'active': topTenSales == true}" (click)="showTopTenSales()" mat-button>Sales Person</a>
                </div>
            </div>
            <div class="cs-table scroll-335">
                <table>
                    <tr>
                        <th class="first-head">
                            <div class="table-head">
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th class="w200">Scanned Count</th>
                                        <th class="w90 text-center">Points</th>
                                        <th class="w90 text-center">Gift Eligible</th>
                                    </tr>
                                </table>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-body">
                                <table *ngIf="topTenDsr">
                                    
                                    <tr *ngFor="let data of topDsrArray">
                                        <td>{{data.full_name | titlecase}} - <b>{{data.mobile_no}}</b></td>
                                        <td class="w200">{{data.coupon_count}}</td>
                                        <td class="w90 point">{{data.coupon_value}}</td>
                                        <td class="w90 eligible">{{data.gift_eligible}}</td>
                                    </tr>
                                </table>
                                    <table *ngIf="topTenSales">
                                    <tr *ngFor="let data of topSalesArray">
                                        <td>{{data.sales_person | titlecase}} - <b>{{data.mobile}}</b></td>
                                        <td class="w200">{{data.coupon_count}}</td>
                                        <td class="w90 point">{{data.coupon_value}}</td>
                                        <td class="w90 eligible">{{data.gift_eligible}}</td>
                                    </tr>
                                
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div> -->
        <!-- <div class="pie-chart">
            <div class="chart-header">
                <p>Top 10</p>
                <div class="sm-tab">
                    <a class="" [ngClass]="{'active': topTenDsr == true}" (click)="showTopTenDSRs()" mat-button>DSR's</a>
                    <a class="" [ngClass]="{'active': topTenSales == true}" (click)="showTopTenSales()" mat-button>Sales Person</a>
                    
                </div>
            </div>
            <div class="chart" *ngIf="topTenDsr">
                <fusioncharts
                type="Column2d"
                width="100%"
                height="350"
                [dataSource]="topDsrSource">
            </fusioncharts>
        </div>
        <div class="chart" *ngIf="topTenSales">
            <fusioncharts
            type="Column2d"
            width="100%"
            height="350"
            [dataSource]="topSalesSource">
        </fusioncharts>
    </div>
    </div> -->
</div>
<div class="col s6">

    <!-- <div class="pie-chart">
        <div class="chart-header">
            <p *ngIf="bottomTenDSR == true">Bottom 10 DSR's</p>
            <p *ngIf="bottomTenSales == true">Bottom 10 Sales Person</p>

            <div class="sm-tab">
                <a class="" [ngClass]="{'active': bottomTenDSR == true}" (click)="showBottomTenDSR()" mat-button>DSR's</a>
                <a class="" [ngClass]="{'active': bottomTenSales == true}" (click)="showBottomTenSales()" mat-button>Sales Person</a>
            </div>
        </div>
        <div class="cs-table scroll-335">
            <table>
                <tr>
                    <th class="first-head">
                        <div class="table-head">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th class="w200">Scanned Count</th>
                                    <th class="w90 text-center">Points</th>
                                    <th class="w90 text-center">Gift Eligible</th>
                                </tr>
                            </table>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="table-body">
                            <table *ngIf="bottomTenSales">
                                <tr *ngFor="let data of bottomDsrArray">
                                    <td>{{data.full_name | titlecase}} - <b>{{data.mobile_no}}</b></td>
                                    <td class="w200">{{data.coupon_count}}</td>
                                    <td class="w90 point">{{data.coupon_value}}</td>
                                    <td class="w90 eligible">{{data.gift_eligible}}</td>
                                </tr>
                            </table>
                                <table *ngIf="bottomTenSales">
                                <tr *ngFor="let data of bottomSalesArray">
                                    <td>{{data.sales_person | titlecase}} - <b>{{data.mobile}}</b></td>
                                    <td class="w200">{{data.coupon_count}}</td>
                                    <td class="w90 point">{{data.coupon_value}}</td>
                                    <td class="w90 eligible">{{data.gift_eligible}}</td>
                                </tr>
                            
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div> -->


    <!-- <div class="pie-chart">
        <div class="chart-header">
            <p>Bottom 10</p>
            <div class="sm-tab">
                <a class="" [ngClass]="{'active': bottomTenDSR == true}" (click)="showBottomTenDSR()" mat-button>DSR's</a>
                <a class="" [ngClass]="{'active': bottomTenSales == true}" (click)="showBottomTenSales()" mat-button>Sales Person</a>
                <a class="" mat-button>Distributor</a>
            </div>
        </div>
        <div class="chart" *ngIf="bottomTenDSR">
            <fusioncharts
            type="Column2d"
            width="100%"
            height="350"
            [dataSource]="bottomDsrSource">
        </fusioncharts>
    </div>
    <div class="chart" *ngIf="bottomTenSales">
        <fusioncharts
        type="Column2d"
        width="100%"
        height="350"
        [dataSource]="bottomSalesSource">
    </fusioncharts>
</div>
    </div> -->
</div>
</div>


<div class="row mb15">
    <!-- <div class="col s6">
        <div class="pie-chart">
            <div class="chart-header">
                <p>Offer Balance Day's</p>
            </div>
            <div class="cs-table scroll-335">
                <table>
                    <tr>
                        <th class="first-head">
                            <div class="table-head">
                                <table>
                                    <tr>
                                        <th>Offer</th>
                                        <th class="w80 text-center">Day's</th>
                                    </tr>
                                </table>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-body">
                                <table>
                                    <tr *ngFor="let data of offer_balance_days">
                                        <td>{{data.title | titlecase}}  #{{data.id}}</td>
                                        <td class="w80 day">{{data.balance_days}}</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div> -->
    
    <!-- <div class="col s4  ">
        <div class="pie-chart">
            <div class="chart-header">
                <p>Super 30 </p>
                <div class="sm-tab">
                    <a class="" [ngClass]="{'active': showDealersList == true}" (click)="showDealers()" mat-button>Dealer</a>
                    <a class="" [ngClass]="{'active': showKarigarList == true}"  (click)="showKarigar()" mat-button>Mechanic</a>
                    <a class="" mat-button>Distributor</a>
                </div>
            </div>
            <div class="cs-table scroll-335">
                <table>
                    <tr>
                        <th class="first-head">
                            <div class="table-head">
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th class="w200">State</th>
                                        <th class="w90 text-center">Balance Points</th>
                                        <th class="w90 text-center">Gift Eligible</th>
                                    </tr>
                                </table>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="table-body">
                                <table *ngIf="showKarigarList">
                                    
                                    <tr *ngFor="let data of super_karigars">
                                        <td>{{data.first_name | titlecase}}</td>
                                        <td class="w200">{{data.state}}</td>
                                        <td class="w90 point">{{data.balance_point}}</td>
                                        <td class="w90 eligible">{{data.gift_eligible}}</td>
                                    </tr>
                                </table>
                                    <table *ngIf="showDealersList">
                                    <tr *ngFor="let data of super_dealers">
                                        <td>{{data.first_name | titlecase}}</td>
                                        <td class="w200">{{data.state}}</td>
                                        <td class="w90 point">{{data.balance_point}}</td>
                                        <td class="w90 eligible">{{data.gift_eligible}}</td>
                                    </tr>
                                
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div> -->
    

    <div class="col s6">
        <div class="pie-chart">
            <div class="chart-header">
                <p>State Wise Coupon Scan</p>
            </div>
            <div class="graph">
                <fusioncharts
                width="100%"
                height="300"
                type="pie3d"
                [dataSource]=coupon_Source >
            </fusioncharts>
        </div>
    </div>
<!--     
    <div class="col s6">
        <div class="pie-chart">
            <div class="chart-header">
                <p>Last 7 Day's Wise Scan Codes</p>
                <div class="sm-tab">
                    <a class="" [ngClass]="{'active': show_karigar_graph == true}" (click)="showKarigarGraph()" mat-button>Mechanic</a>
                    <a class="" [ngClass]="{'active': show_dealer_graph == true}" (click)="showDealerGraph()" mat-button>Dealer</a>
                    <a class="" mat-button>Distributor</a>
                </div>
            </div>
            <div class="chart" *ngIf="show_karigar_graph">
                <fusioncharts
                type="Column2d"
                width="100%"
                height="350"
                [dataSource]="karigar_Source">
            </fusioncharts>
        </div>
        <div class="chart" *ngIf="show_dealer_graph">
            <fusioncharts
            type="Column2d"
            width="100%"
            height="350"
            [dataSource]="dealer_Source">
        </fusioncharts>
    </div>
    </div>
</div> -->
</div>
<!-- <div class="row mb15">
    <div class="col s12">
        <div class="pie-chart">
            <div class="chart-header">
                <p>State Wise Dealer</p>
            </div>
            <div class="graph">
                <fusioncharts
                width="100%"
                height="300"
                type="pie3d"
                [dataSource]=dealer_Source >
            </fusioncharts>
        </div>
    </div>
</div>
</div> -->
</div>
</div>